body {
    background-color: beige
}

a:link {
    color: coral;
    font-weight: bold;
}

a:hover {
    color: blue;
    font-weight: bold;

}


h1 {
    color: brown;
    font-weight: bold;
}

h2,
h3 {
    background-color: brown;
    color: white;
}

h3 {
    color: yellow;
}

header img {
    width: 100%;
}