$colorBrown: hsla(0, 50%, 50%, 1);
$colorBlack: #000;
$colorWhite: #fff;
$colorSombraBlanca: hsla(0, 100%, 100%, .5);
$colorGradientInit: rgba(0, 0, 0, 1);
$colorGradientEnd: rgba(15, 15, 15, 1);
$buttonPressedBackground : #3d3737;
$buttonPressedBorder: rgba(255, 255, 255, 0);
$buttonPressedBoxShadow: rgba(255, 255, 255, 0.7);
$buttonPressedColor: rgba(87, 5, 5, 0.9);