* {
    padding: 0;
    margin: 0;
    background-color: rgb(84, 110, 122);
    /*background-color: rgb(55, 18, 42);*/
}

h1 {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: white;
}


body {display: flex;
      flex-direction: column;
      justify-content: center;


}

section { display: flex;
          justify-content:center;
          gap: 3%;
          color: white;
          margin-left: 15vw;
          margin-right: 15vw;
          border: 2px solid rgb(55,
            71,
            79)
          
          

}


/*.div1,.div2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    width: fit-content;
}